<div class="charteBleue-body">
    <div class="container-fluid">
        <div class="row">
            <div class="outer-div-top">
                <div class="inner-div-top">
                    <p class="text-center charteBleue-title">VEUILLEZ VOUS IDENTIFIER</p>
                </div>
            </div>
            <div class="alignMiddle-div">
                <form>
                    <div class="form-group">
                        <label for="utilisateur" class="charteBleue-form-text" style="font-size: 15px !important;">IDENTIFIANT</label>
                        <input type="text" class="form-control taillesInput charteBleue-form-input" id="utilisateur" style="color: #DBEBFF !important;"
                               placeholder="identifiant">
                    </div>
                    <div class="form-group">
                        <label for="motdepasse" class="charteBleue-form-text" style="font-size: 15px !important;">MOT DE PASSE</label>
                        <input type="password" class="form-control taillesInput charteBleue-form-input" id="motdepasse" style="color: #DBEBFF !important;"
                               placeholder="mot de passe">
                    </div>
                    <div class="form-group marginTop50">
                        <button type="submit" class="btn charteBleue-form-button taillesButton" ng-click="goToHome()">CONNEXION</button>
                    </div>
                </form>
            </div>
            <div class="outer-div-bottom">
                <div class="inner-div-bottom">
                    <img src="assets/images/piaf-pictos_20.png" style="width:80px"
                         alt="picto20"/>
                </div>
            </div>
        </div>
    </div>
</div>