﻿<div id="page-home" style="display: flex; flex-direction: column;">
    <div class="" style="background-color: #003a84; color: white; max-height: 50px;">
        <div class="col-lg-12">
            <span class="page-header">
                <span class="pull-left" style="font-size: 2em">Access Denied : Vous n'êtes pas autorisé!</span>



            </span>
        </div>
    </div>

</div>