﻿<div id="page-home">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin 2</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-3 col-md-6">
            drei
        </div>

        <div class="col-lg-3 col-md-6">
            vier

        </div>

    </div>
 
</div>