﻿<!DOCTYPE html>
<!--<html ng-app="bplibConfig" id="appRoot" ng-controller="AppCtrl" ng-strict-di class="no-js">-->
<html ng-app="jsTemplateApp" id="appRoot" ng-controller="AppCtrl" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>District Finder</title>

    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="apple-touche-icon" href="/assets/icons/apple-touch-icon.png">

    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->
    <meta name="format-detection" content="telephone=no">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>?<%= new Date().getTime() %>"></script>
    <% }); %>


    <script type="text/javascript" charset="utf-8">

    </script>

    <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDVCo2JP_4StB2unQiRGayRGFivY5oRo_U&callback=initMap'></script>

</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="content" data-ui-view="main">

        </div>
    </div>

</body>
</html>

