<div class="page-todo">
    <nav class="navbar navbar-default charteGrise-navBar col-md-12" style="margin-bottom:0 !important;">
        <div class="container-fluid col-md-12">
            <div class="navbar-header col-md-12">
                <div class="container-fluid col-md-12">
                    <div class="row" style="margin-top: 4px;">
                        <div class="col-md-1">
                            <a href="#/login"><img src="assets/images/piaf-pictos-nav_14.png" style="height: 30px; padding-top:10px;"
                                                  alt="picto14"/></a>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/images/piaf-pictos-piaf_26.png" style="height: 30px; margin:auto;"
                                 alt="picto20"/>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-1">
                            <button  ng-click="showNavFunc()" type="button" style="background-color: transparent; border:0px solid transparent; padding:0; margin:0;">
                                <img ng-src="{{imgSrcNav}}" style="height: 30px; padding-top:10px;margin-left:auto;"
                                     alt="picto23"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<img ng-src="{{imageSource}}" ng-click="navToHome()">
    <div class="navbar" style="font-size: 16px;background-color: #222222;position: absolute;right:0;top:48px;bottom:0;width:200px;height:100%;border-top: 1px solid black;" ng-show="showNav">
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px; padding-left: 20px;" ng-click="navToTodo()">TODO</div>
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px;padding-left: 20px; background-color: #121212">PROJET</div>
        <div style="height: 34px;"></div>
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px;padding-left: 20px; border-top : 1px solid #313131;border-bottom : 1px solid #313131;" ng-click="navLogin()">DECONNEXION</div>
    </div>
</div>