﻿<!--<div id="page-home">
    <div>
        info clients
    </div>
    <div>
        <div>
            <div id="map" class="map map-home" style="flex:1;height: 480px;"></div>
        </div>
        <div>
            <input type="text" placeholder="adresse du bien à fincancer" id="adresse">
            <button type="button" class="btn btn-success" ng-click="geocodeAddress()">
                <span class="fa fa-search"></span>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="activeFilter('commerces')">Commerces</button>
            <button type="button" class="btn btn-primary" ng-click="activeFilter('population')">Population</button>
            <button type="button" class="btn btn-primary" ng-click="activeFilter('flux')">Flux</button>
            <button type="button" class="btn btn-primary" ng-click="activeFilter('transports')">Transports</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="showCommerces()">Display Commerces</button>
        </div>
    </div>
    <div>
        Actions
    </div>
    <div>
        <h4>PJ / Photos</h4>
        <div>
            <button type="button" class="btn btn-success" id="capturePhotoButton" ng-click="capturePhoto64()">Take 64</button>
            <button type="button" class="btn btn-success" id="capturePhotoButton" ng-click="capturePhotoFileLoc()">Take Local</button>
        </div>
        <div class="separator"></div> ng-src="{{imgSource}}"
        <div class="result-area ch50">
            <div class="results">
                <img style="display:block;height:200px;" id="myImage">
                <img style="display:block;height:200px;" id="myImage2">
            </div>
        </div>
        <div class="switch" data-name="chalandise" data-checked="true" data-value="true" ng-click="checkSelectedFilters()">
            <div class="helper"></div>
            <input type="hidden" class="ui-checkable" name="human" value="0"><input type="checkbox" class="ui-checkable" value="1" name="chalandise" checked="checked" style="position: absolute; visibility: hidden; top: -9999px;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-2" style="text-align: center;">
            <img src="assets/images/pj-pdf.png">
            <div style="text-align:center;">Bilan</div>
        </div>
        <div class="col-md-2 col-lg-2">
            <img src="assets/images/dinette 2.jpg" style="width:173px;height:110px;">
        </div>
    </div>

</div>-->


<div class="charteGrise-body">
        <nav class="navbar navbar-default charteGrise-navBar col-md-12">
            <div class="container-fluid col-md-12">
                <div class="navbar-header col-md-12">
                    <div class="container-fluid col-md-12">
                        <div class="row" style="margin-top: 4px;">
                            <div class="col-md-1">
                                <a href="#/todo"><img src="assets/images/piaf-pictos-nav_14.png" style="height: 30px; padding-top:10px;"
                                     alt="picto14"/></a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-2">
                                <img src="assets/images/piaf-pictos-piaf_26.png" style="height: 30px; margin:auto;"
                                     alt="picto20"/>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-1">
                                <button  ng-click="showNavFunc()" type="button" style="background-color: transparent; border:0px solid transparent; padding:0; margin:0;">
                                    <img ng-src="{{imgSrcNav}}" style="height: 30px; padding-top:10px;margin-left:auto;"
                                     alt="picto23"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row charteGrise-div" style="display: block;">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="client">CLIENT</label>
                            <input type="text" ng-keyup="rechClient()" class="form-control charteGrise-input" id="matricule" placeholder="MATRICULE" maxlength="7">

                            <label for="client" style="margin-left:20px;">PROSPECT</label>
                            <button class="btn btn-primary" ng-click="addProspect()">+</button>


                            <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#dataClient" ng-click="rechClient()" style="background-color: transparent; border:0px solid transparent; color: #5bc0de;padding:0; margin:0;font-size:28px;height:34px; width:34px;">
                               <span class=" fa " ng-class="clientClass"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid" id="dataClient" ng-class="clientCollapse">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="raisonSociale"  class="charteGrise-label">RAISON SOCIALE</label>
                                <input type="text" class="form-control charteGrise-input" id="raisonSociale" placeholder="">
                            </div>
                            <div class="col-md-2">
                                <label for="notationRisque" class="charteGrise-label">NOTATION RISQUE</label>
                                <input type="text" class="form-control charteGrise-input" id="noteMcDo" placeholder="">
                            </div>
                            <div class="col-md-2">
                                <label for="entreeEnRelation" class="charteGrise-label">ENTREE EN RELATION</label>
                                <input type="text" class="form-control charteGrise-input" id="dateER" placeholder="">
                            </div>
                            <div class="col-md-5">
                                <label for="activite" class="charteGrise-label">ACTIVITE</label>
                                <input type="text" class="form-control charteGrise-input" id="activite" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="adresse" class="charteGrise-label">ADRESSE</label>
                                <input type="text" class="form-control charteGrise-input" id="adresse" placeholder="adresse client">
                            </div>
                            <div class="col-md-3">
                                <label for="telephone" class="charteGrise-label">TELEPHONE</label>
                                <input type="text" class="form-control charteGrise-input" id="telephone" placeholder="telephone">
                            </div>
                            <div class="col-md-3">
                                <label for="mail" class="charteGrise-label">MAIL</label>
                                <input type="text" class="form-control charteGrise-input" id="mail" placeholder="email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row charteGrise-div">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="projet">PROJET</label>
                            <input type="text" class="form-control charteGrise-input" id="projet" placeholder="OBJET DU PROJET">
                            <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#dataProjet" ng-click="clickProjet()" style="background-color: transparent; border:0px solid transparent; color: #5bc0de;padding:0; margin:0;font-size:28px;height:34px; width:34px;">
                                <span class=" fa " ng-class="projetClass"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid collapse" id="dataProjet">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="montant"  class="charteGrise-label">MONTANT (K€)</label>
                                <input type="text" class="form-control charteGrise-input" id="montant" placeholder="">
                            </div>
                            <script>
                                $("[data-slider]")
                                        .bind("slider:ready slider:changed", function (event, data) {
                                            $(this).nextAll("span").html(data.value.toFixed(3));
                                        });
                            </script></p>
                            <div class="col-md-2">
                                <label for="duree" class="charteGrise-label">DUREE (MOIS)</label>
                                <input type="text" class="form-control charteGrise-input" id="duree" placeholder="">
                            </div>
                            <div class="col-md-2">
                                <label for="apports" class="charteGrise-label">APPORTS (K€)</label>
                                <input type="text" class="form-control charteGrise-input" id="apports" placeholder="">
                            </div>
                            <div class="col-md-6">
                                <label for="adresseProjet" class="charteGrise-label">ADRESSE</label>
                                <div class="input-group">

                                    <input type="text" class="form-control charteGrise-input" id="adresseProjet" placeholder="adresse du bien à fincancer">
                                    <span class=" input-group-addon" style="padding: 0;height: 34px;">
                                         <button type="button" class="btn btn-success" ng-click="geocodeAddress()">
                                             <span class="fa fa-search"></span>
                                         </button>
                                    </span>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row charteGrise-div">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="projet">MAPPING</label>
                            <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#dataCarte" ng-click="clickCarto()" style="background-color: transparent; border:0px solid transparent; color: #5bc0de;padding:0; margin:0;font-size:28px;height:34px; width:34px;">
                                <span class=" fa " ng-class="cartoClass"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid" id="dataCarte">
                        <div class="row">
                            <div class="col-md-10">
                                <div id="map" class="map map-home" style="flex:1;height: 480px;"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="charteGrise-div-filtres">
                                    <label for="filtre1" class="charteGrise-label" style="font-size:16px !important;">Zone Chalandise</label>
                                    <div class="switch" data-name="chalandise" data-checked="true" data-value="true" ng-click="checkSelectedFilters()" id="chalandise">
                                        <div class="helper"></div>
                                        <input type="hidden" class="ui-checkable" name="human" value="0"><input type="checkbox" class="ui-checkable" value="1" name="chalandise" checked="checked" style="position: absolute; visibility: hidden; top: -9999px;">
                                    </div>
                                </div>
                                <div class="charteGrise-div-filtres">
                                    <label for="filtre2" class="charteGrise-label" style="font-size:16px !important;">Transports</label>
                                    <div class="switch" data-name="transports" data-checked="true" data-value="true" ng-click="checkSelectedFilters()" id="transports">
                                        <div class="helper"></div>
                                        <input type="hidden" class="ui-checkable" name="human" value="0"><input type="checkbox" class="ui-checkable" value="1" name="Transports" checked="checked" style="position: absolute; visibility: hidden; top: -9999px;">
                                    </div>
                                </div>
                                <div class="charteGrise-div-filtres">
                                    <label for="filtre3" class="charteGrise-label" style="font-size:16px !important;">Commerces</label>
                                    <div class="switch" data-name="commerces" data-checked="true" data-value="true" ng-click="checkSelectedFilters()" id="commerces">
                                        <div class="helper"></div>
                                        <input type="hidden" class="ui-checkable" name="human" value="0"><input type="checkbox" class="ui-checkable" value="1" name="commerces" checked="checked" style="position: absolute; visibility: hidden; top: -9999px;">
                                    </div>
                                </div>
                                <div class="charteGrise-div-filtres" style="padding-bottom: 10px;">
                                    <label for="filtre4" class="charteGrise-label" style="font-size:16px !important;">Population</label>
                                    <div class="switch" data-name="population" data-checked="true" data-value="true" ng-click="checkSelectedFilters()" id="population">
                                        <div class="helper"></div>
                                        <input type="hidden" class="ui-checkable" name="human" value="0"><input type="checkbox" class="ui-checkable" value="1" name="population" checked="checked" style="position: absolute; visibility: hidden; top: -9999px;">
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="charteGrise-div-filtres">
                                    <button type="button" class="btn btn-primary" ng-click="showCommerces()">Activité</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row charteGrise-div">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group col-md-12">
                            <label for="projet">PIECES JOINTES</label>
                            <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#dataJointes" ng-click="clickPJ()" style="background-color: transparent; border:0px solid transparent; color: #5bc0de;padding:0; margin:0;font-size:28px;height:34px; width:34px;">
                                <span class=" fa " ng-class="pieceJointeClass"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid collapse" id="dataJointes">
                        <div class="row" id="rowPiecesJointes">
                            <div class="col-md-3">
                                <div>
                                    <img src="assets/images/dinette1.jpg" style="width:100%;height:150px;">
                                </div>
                                <div style="background-color:#EDEDED" class="text-center form-inline">
                                    <img src="assets/images/piaf-pictos-pj_09.png" style="height: 20px; width: 20px; margin:5px;" class="form-group">
                                    <img src="assets/images/piaf-pictos-pj_35.png" style="height: 20px; width: 20px;margin-left:100px;margin-right:5px;" class="form-group">
                                </div>
                                <div style="border-bottom: 1px solid; border-color: #EDEDED; height: 40px;">
                                    <label style="line-height:40px;">Local</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <img src="assets/images/dinette 2.jpg" style="width:100%;height:150px;">
                                </div>
                                <div style="background-color:#EDEDED" class="text-center form-inline">
                                    <img src="assets/images/piaf-pictos-pj_09.png" style="height: 20px; width: 20px; margin:5px;" class="form-group">
                                    <img src="assets/images/piaf-pictos-pj_35.png" style="height: 20px; width: 20px; margin-left:100px;margin-right:5px;" class="form-group">
                                </div>
                                <div style="border-bottom: 1px solid; border-color: #EDEDED; height: 40px;">
                                    <label style="line-height:40px;">Local</label>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="showPhoto">
                                <div>
                                    <img  ng-src="{{imgSource}}" style="width:100%;height:150px;">
                                </div>
                                <div style="background-color:#EDEDED" class="text-center form-inline">
                                    <img src="assets/images/piaf-pictos-pj_09.png" style="height: 20px; width: 20px; margin:5px;" class="form-group">
                                    <img src="assets/images/piaf-pictos-pj_35.png" style="height: 20px; width: 20px; margin-left:100px;margin-right:5px;" class="form-group" ng-click="deletePhoto()">
                                </div>
                                <div style="border-bottom: 1px solid; border-color: #EDEDED; height: 40px;">
                                    <label style="line-height:40px;">Local</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#EDEDED;height:250px;" class="text-center form-inline" id="capturePhotoButton" ng-click="capturePhotoFileLoc()">
                                    <span style="line-height:250px;"><img src="assets/images/piaf-pictos-pj_29.png" style="height: 40px;  margin:5px;" class="form-group"></span>
                                    <span style="line-height:250px;"><img src="assets/images/piaf-pictos-pj_06.png" style="height: 40px;  margin:5px;" class="form-group"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row charteGrise-div">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="projet" style="margin-left:15px;">SYNTHESE</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control charteGrise-textArea" id="commentaire" placeholder="écrire un commentaire..">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-2 col-md-offset-1"><button class="btn btn-default" ng-click="navToTodo()">Enregistrer</button></div>
                <div class="col-md-2 col-md-offset-5"><button class="btn btn-primary" ng-click="navToTodo()">Validation Agence</button></div>
                <div class="col-md-2"><button class="btn btn-info" ng-click="navToTodo()"><span>Transmettre</span><img src="assets/images/piaf-pictos-piaf_26.png" style="height: 20px;margin:auto;display:inline;color:white;    margin-left: 5px;" alt="picto20"/></button></div>
            </div>
        </div>
    <div class="navbar" style="font-size: 16px;background-color: #222222;position: absolute;right:0;top:48px;bottom:0;width:200px;height:100%;border-top: 1px solid black;" ng-show="showNav">
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px; padding-left: 20px;" ng-click="navToTodo()">TODO</div>
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px;padding-left: 20px; background-color: #121212">PROJET</div>
        <div style="height: 34px;"></div>
        <div class="row" style="color:white;font-family:'Lato';margin:0;padding:10px;padding-left: 20px; border-top : 1px solid #313131;border-bottom : 1px solid #313131;" ng-click="navLogin()">DECONNEXION</div>
    </div>
    </div>