﻿<!-- Not used at the moment -->
<!--<span class="popover-link bplibicon bplibicon-medium bplibicon-scan" data-toggle="popover" data-trigger="focus">-->
<span class="popover-link bplibicon bplibicon-medium bplibicon-scan" data-toggle="popover" tabindex="0" data-trigger="focus">
    <span class="sr-only">Scan</span>
    <!-- due to a little bug in angular : we pass the popover html containing a ng-repeat directly from inside the directive code -->
    <span class="popover-options">
        <!--<ul class="nav nav-pills nav-stacked">
            <li data-ng-repeat="item in items ">
                <a href="" data-ng-click="scanDoc(item)">bla {{ item.LIEVAG }} </a>
            </li>
        </ul>-->
    </span>
</span>


<!--<span class="popover-link bplibicon bplibicon-medium bplibicon-scan" data-toggle="popover" tabindex="0" data-trigger="focus"><span class="sr-only">Scan</span><span class="popover-options"><ul class="nav nav-pills nav-stacked"><li data-ng-repeat="item in items "><a href="" data-ng-click="scanDoc(item)">bla {{ item.LIEVAG }} </a></li></ul></span></span>-->